@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../partials/variables';
@import '../partials/default';
@import '../partials/form';
@import '../partials/sidebar';
@import '../partials/badge';
@import '../partials/table';

.hover\:bg-red-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.dashboard-body {
    padding: 30px;
    margin-left: 300px;
    width: calc(100% - 300px);
    min-height: 100vh;

    @media (max-width: 1200px) {
        margin-left: 0px;
        width: 100%;
    }
}

.topbar-nav {
    @apply md:flex justify-between items-center text-black;
    font-family: var(--primary-font-medium);

    .username {
        font-family: var(--primary-font-light);
        @apply flex items-center lg:text-[22px] text-[18px] md:mb-0 mb-6;

        .mobile-open-button {
            width: 30px;
            height: 30px;
            display: inline-block;
            margin-right: 10px;
            display: none;

            @media (max-width: 1200px) {
                display: inline-block;
            }
        }
        
    }

    .nav-group {
        @apply flex justify-between;
    }

    .date {
        @apply flex items-center md:mr-[40px] text-[14px];

        .icon {
            width: 24px;
            margin-right: 6px;
        }
    }

    .notification {
        display: flex;
        align-items: center;
        font-size: 14px;
        background-color: #F5F5F7;
        padding: 4px 16px;
        border-radius: 30px;
        margin: 0 20px;

        .icon {
            width: 16px;
            margin-right: 6px;
        }
    }

    .user-link {
        background-color: #F0E9FF;
        width: 45px;
        height: 45px;
        padding: 14px;
        border-radius: 10px;
        background-image: url(/images/svg/dashboard/user-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
        cursor: pointer;
    }
}

// Dashboard Inner Box
.dashboard-detail-box {

    header {
        @apply flex md:items-center md:justify-between md:flex-row flex-col-reverse;

        .title {
            font-family: var(--primary-font-light);
            @apply uppercase md:text-2xl text-xl mt-4 md:mt-0;
        }
    }

    .tabbing {
        @apply md:overflow-auto overflow-x-scroll;

        #myTab {
            width: 600px;
        }
    }

    .detail-body {

        .detail-box {
            border: 1px solid #C9C9C9;
            border-radius: 10px;
            @apply px-5 py-4 lg:flex justify-between mt-5;

            &.bookings-new, &.companies-new, &.work-with-us-forms-new, &.quick-requests-forms-new {
                border: 1px solid var(--secondary-color);
            }

            .head {
                @apply uppercase text-xs;
                color: #848484;
            }

            .value {
                @apply block text-sm;
                color: var(--primary-color);
                font-family: var(--primary-font-medium);
            }
        }
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #707070;
        column-gap: 20px;
        margin-top: 40px;

        .pagination {
            display: flex;
            align-items: center;
            column-gap: 6px;

            li {
                border: 1px solid #C6C6C6;
                border-radius: 6px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover, &.active {
                    background-color: #F0E9FF;
                }
            }
        }
    }
}

.dashboard-searchbar {
    border: 1px solid #C6C6C6;
    border-radius: 30px;
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 4px 20px;

    .search-bar {
        border: none;
        background-color: transparent;
        border-radius: 30px;
        width: 90%;
        font-size: 12px;

        &:hover, &:focus {
            outline: none;
            border: none;
            --tw-ring-color: transparent;
        }
    }

    .submit-btn {
        width: 40px;
        @apply flex items-center justify-center;
    }
}

.dashboard-counter {
    @apply lg:flex grid gap-6;

    div {

        .count-box {
            border: 1px solid #B299E2;
            border-radius: 10px;
            padding: 16px 30px;
            background-color: #F5F2F9;

            .title {
                @apply xl:text-lg text-base uppercase mb-4;
                font-family: var(--primary-font-bold);
            }

            .number {
                @apply text-2xl;
                font-family: var(--primary-font-bold);
            }

            .default-button {
                font-size: 12px;
            }
        }

        &:nth-child(2) {
            .count-box {
                background-color: darken($color: #F5F2F9, $amount: 6)
            }
        }

        &:nth-child(3) {
            .count-box {
                background-color: darken($color: #F5F2F9, $amount: 12)
            }
        }
    }

    &.admin-counter {
        div {
            .count-box {
                // border-color: #D23C3C;
                border-color: --primary-color;
                // background-color: #FFE6E6;
            }

            &:nth-child(2) {
                .count-box {
                    // background-color: darken($color: #FFE6E6, $amount: 6)
                }
            }

            &:nth-child(3) {
                .count-box {
                    // background-color: darken($color: #FFE6E6, $amount: 12)
                }
            }
        }
    }
}

.tabbing {
    li {
        button {
            color: var(--primary-color);
            font-family: var(--primary-font-medium);
            @apply uppercase border-b-2 border-transparent;
        }

        button:hover, button[aria-selected='true'] {
            border-color: var(--third-color);
        }
    }
}

.non-company-verified {

    &.hide {
        @apply relative -mx-7 px-7 py-6 mt-8;

        &:after {
            @apply absolute top-0 left-0 w-full;
            content: '';
            background-color: rgba($color: #000000, $alpha: 0.8);
            height: 100%;
            z-index: 8;
        }
    }

    .non-company-verified-button {
        @apply absolute left-0 top-0 right-0 bottom-0 m-auto w-[220px] h-[46px] z-10;

        &.hide {
            display: none;
        }
    }
}

form.disabled-form input,
form.disabled-form select {
    /* Add any additional styling for disabled fields here */
    pointer-events: none;
    opacity: 0.6;
}
.edit-badge {
    background-color: #fff8db;
    color: var(--primary-color);
}
.badge.defualt {
    background-color: purple;
    color: #fff; 
}

.badge.cancelled {
    background-color: #ffe8e8;
    color: var(--primary-color);
}
.badge.in-progress {
    background-color: #fff8db;
    color: var(--primary-color);
}

.badge.on-hold {
    background-color: #f5f1ff;
    color: var(--primary-color);
}
.badge.finished {
    background-color: purple;
    color: #fff;
}

// 12-03-2024 CSS Start

.card-shipping .card-title h2 {
    font-size: 30px;
    line-height: 36px;
    text-transform: capitalize;
    font-weight: 500;
    color: #000000;
    padding-bottom: 15px;
}

.card-shipping .card-body {
    width: 100%;
    max-width: 480px;
    border: 1px solid #222222;
    border-radius: 10px;
}
.card-shipping .card-body .title-sec {
    border-bottom: 1px solid #222222;
    margin-bottom: 10px;
}
.card-shipping .card-body .title-sec p {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.card-shipping .card-body .address-sec {
    position: relative;
    padding: 10px 20px;
}
.card-shipping .card-body .address-sec h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #000000;
}
.card-shipping .card-title h4 {
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    font-weight: 500;
    color: #000000;
    padding-bottom: 15px;
    position: relative;
}
.card-shipping .card-title h4::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    background: #e1e1e1;
    width: 100%;
    height: 1px;
}
.card-shipping .card-title h4 span {
    background: #f9fafb;
    position: relative;
    z-index: 1;
    padding-right: 5px;
}

.card-shipping .card-title h4.pb-0 {
    padding-bottom: 0px !important;
}
.card-shipping .card-body .address-sec a.link {
    color: #D43031;
    display: block;
    text-decoration: underline;
}
.card-shipping .card-body .address-sec p {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 400;
}
.wayfill .form-group [type='checkbox']:checked, .wayfill .form-group [type='radio']:checked {
    background-color: #D43031;
    border-color: #D43031;
}

.wayfill .form-group [type='checkbox']:focus, .wayfill .form-group [type='radio']:focus {
    --tw-ring-color: #D43031;
}

.Locationaliases .LocationaRow {
    display: flex;
    flex-wrap: wrap;
}
.Locationcolumn {
    border: 1px solid #C9C9C9;
    border-radius: 4px;
}
.Locationcolumn .Locationform {
    padding: 15px;
}
.Locationcolumn .Aliasesbottom { 
    border-top: 1px solid #dcdcdc;
    padding: 10px 16px;
}
.Locationcolumn .Aliasesbottom p { 
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #848484;
    display: flex;
    justify-content: space-between;
}
.Locationcolumn .Aliasesbottom p span { 
    color: #222222;
}
.DocumentationRow .leftcolumn input:checked + label {
    background-color: #2c1e3f;
    color: #ffffff;
}
.Documentation-request {
    position: relative;
    padding: 10px 0;
}
.Documentation-request .sec-title p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
}
.Documentation-request .DocumentationRow {
    display: flex;
    flex-wrap: wrap;
}
.Documentation-request .DocumentationRow .leftcolumn {
    flex-basis: 200px;
}
.Documentation-request .DocumentationRow .rightcolumn {
    flex: 1;
}
.rightcolumn .formbox .form-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.rightcolumn .formbox {
    border: 1px solid #bdbdbd;
    border-radius: 4px;
}
.rightcolumn .formbox [type='checkbox']:checked {
    background-color: #2c1e3f;
}

.parties-section .parties-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.parties-section .parties-row .w-4\/12 {
    padding: 0 15px;
}

.card-shipping .card-body .address-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 10px;
}
.card-shipping .card-body .address-sec .left-content {
    flex: 1;
    margin-right: 10px;
}
.card-shipping .card-body .address-sec .address-country {
    height: 180px;
}
.address-sec .address-info.border-0 {
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.card-shipping .card-body .address-info .action-btn svg {
    width: 18px;
    height: 18px;
}
.card-shipping .booked-commodity {
    padding-bottom: 30px;
}
.booked-commodity .form-check-inline {
    display: inline-block;
    margin-right: 1rem;
    width: 25%;
}
.cargo-description .info-box-sec {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    border-radius: 10px;
    background: #d1d5db;
}
.cargo-description .info-box-sec .text-info h5 {
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--primary-color);
    font-family: var(--primary-font-medium);
    padding-bottom: 10px;
}
.cargo-description .info-box-sec .text-info h5 a {
    text-decoration: underline
}
.card-shipping .template-sec {
    position: relative;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
}
.card-shipping .template-sec .content-box {
    padding: 15px;
    min-height: 180px;
    overflow-y: auto;
}
.card-shipping .template-sec .fieldtext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 10px;
}
.card-shipping .template-sec .fieldtext .form-group-inline {
    flex: 1;
}
.card-shipping .template-sec .fieldtext .small-input {
    width: 100%;
    padding-right: 15px;
   border-color: #C9C9C9; 
}
.card-shipping .template-sec .fieldtext .form-group-btn {
    margin-left: 15px;
}
.card-shipping .template-sec .fieldtext .form-group-btn .dark-btn {
    padding: 0.75rem 1rem;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    background: #d1d5db;
}
.card-shipping .template-sec .fieldtext .form-group-btn .outline-btn {
    padding: 0.75rem 1rem;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    background: transparent;
}
.card-shipping .card-btn .btn {
    background: #2c1e3f;
    color: #ffffff;
    padding: 0.75rem 1rem;
    border-radius: 4px;
}
.card-shipping .addmark-sec {
    margin: 30px 0;
}
.card-shipping .terms-sec .btn {
    background: #2c1e3f;
    color: #ffffff;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    margin-right: 15px;
}
.card-shipping .terms-sec .link {
    text-decoration: underline;
    font-weight: bold;
}

.documentation-sec {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.documentation-sec .col-md-12 {
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    margin-top: 1.25rem;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 0 0 100%;
    max-width: calc(100% - 30px);
    margin: 0 15px;
    margin-bottom: 20px;
}
.documentation-sec .col-lg-3 {
    flex: 0 0 50%;
    width: calc(50% - 15px);
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    margin-top: 1.25rem;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: calc(50% - 30px);
    margin: 0 15px;
    margin-bottom: 20px;
}

.input-group {
    padding: 0 0 14px;
}

@media screen and (max-width: 767px) {
    .documentation-sec {
        flex-direction: column;
    }
    .documentation-sec .col-lg-3 {
        width: 100%;
        flex: 0 0 100%;
        max-width: calc(100% - 0px);
    }
}

// === 19-03-2024 CSS Start === //

.parties-details {
    position: relative;
    padding: 40px 0;
}
.parties-details .parties-detail-inner-sec {
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    margin-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.parties-detail-inner-sec .form-input {
    width: 100%;
}
.address-row .address-details p {
    color: #848484;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 5px;
}
.parties-detail-row-sec {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #eeeeee;
}
.roleselect .form-check-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}
.parties-detail-row-sec .address-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 30px 0;
}
.parties-detail-row-sec .roleselect {
    position: relative;
}
.parties-detail-row-sec .roleselect::before {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: 1px;
    height: 100%;
    background: #eeeeee;
}
